{% extends 'base.html' %} {% block title %}Edit Story Element{% endblock %} {% block content %}
<!--Edits the selected Element.-->

<h2>Your Story Element:</h2>
<div class="row">
    <form action="{{ url_for('update_element', element_id=element._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">library_books</i>
                <select id="category" name="category_name">
                <option value="" disabled selected>Select Category</option>
                    <!--The category_name of the element will be automatically selected, but can be changed.-->
                    {% for cat in categories %}
                        {% if cat.category_name.lower() == element.category_name.lower() %}
                            <option value="{{cat.category_name}}" selected>{{cat.category_name.capitalize()}}</option>
                        {% else %}
                            <option value="{{cat.category_name}}">{{cat.category_name.capitalize()}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Category Name:</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">subdirectory_arrow_right</i>
                <select id="category" name="subcategory">
                <option value="" disabled selected>Select Subcategory</option>
                    {% for subcat in subcategories %}
                    {% if subcat.category_name.lower() == element.category_name.lower() %}
                        {% if subcat.subcategory.lower() == element.subcategory.lower() %}
                            <option value="{{subcat.subcategory}}" selected>{{subcat.subcategory.capitalize()}}</option>
                        {% else %}
                            <option value="{{subcat.subcategory}}">{{subcat.subcategory.capitalize()}}</option>
                        {% endif %}
                    {% else %}
                    {% endif %}
                    {% endfor %}
                </select>
                <label>Subcategory Name:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">short_text</i>
                <input id="element_name" name="element_name" type="text" class="validate" value="{{element.element_name}}">
                <label for="icon_prefix">Name:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">vignette</i>
                <!--The Vignette is just a short description, and so is given a data-length of 240 to keep it short. The
                Vignette will also be queried when a search is made on the site, and so it needs to not have too much
                needless data, otherwise the search results will not be relevant.-->
                <textarea id="element_vignette" name="element_vignette" type="text" class="materialize-textarea" data-length="240" value="{{element.element_vignette}}">{{element.element_vignette}}</textarea>
                <label for="icon_telephone">Vignette:</label>
            </div>
            <small><em>A Vignette is a short, simple description</em></small>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">view_headline</i>
                <!--Elements may have a lot of information that is needed in the description, so there is no set data-length
                property here. The description also won't be queried when a search is made, and so there is no harm in having
                needless information here.-->
                <textarea id="element_description" name="element_description" type="text" class="materialize-textarea" value="{{element.element_description}}">{{element.element_description}}</textarea>
                <label for="icon_telephone">Description:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">event_note</i>
                <textarea id="events" name="events" type="text" class="materialize-textarea" value="{{element.events}}">{{element.events}}</textarea>
                <label for="icon_telephone">Events:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">add</i>
                <textarea id="misc" name="misc" type="text" class="materialize-textarea" value="{{element.misc}}">{{element.misc}}</textarea>
                <label for="icon_telephone">Misc:</label>
            </div>
        </div>
        <div class="row">
            <div class="switch">
                <label>
                    <!--If the element's 'important' field is True, then the checkbox will be checked.-->
                    {% if element.important %}
                    <input id="important" name="important" type="checkbox" checked>
                    {% else %}
                    <input id="important" name="important" type="checkbox">
                    {% endif %}
                    <span class="lever"></span>
                  Important?
                </label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Done
                <i class="material-icons right">add_circle</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}
