/* When possible, opacity is used instead of background-color when creating transitions. Doing this means that we won't have to change the
background-color every time we change the background*/

/*Main Document*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.base-container {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.container {
    /* use of important to improve UX on all devices */
    width: 90% !important;
}

/*Image Styling*/

#mobileNav li {
    width: 100%;
    position: absolute;
}

#navLogo {
    height: 100%;
}

#navLogo logotext {
    position: absolute;
    padding-left: 0.4em;
}


.img-container-center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.head-logo {
    margin-left: 0.5em;
}

.logo {
    width: 2em;
    height: 2em;
}

.logo:hover {
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.fullwidthimage {
    width: 100%;
}

/*Link Styling*/

.link-fade-blue:hover {
    color: #7733ff;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.link-fade-white:hover {
    color: #73e600;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

footer .link-fade-white {
    text-decoration: underline;
}

.white-link {
    text-decoration: none;
    color: #fff;
}

.blue-link {
    text-decoration: none;
    color: #adadeb;
}

/*Navbar*/

#StoryBoardNav {
    background-color: #008000;
}

#StoryBoardNav .tabs-container {
    background-color: #008000;
    position: static;
}

#navTabs {
    background-color: #008000;
}

#navTabs a {
    color: #fff;
}

#StoryBoardFooter {
    background-color: #008000;
}

.navul {
    height: 100%;
}

.navul li {
    height: 100%;
}

navbar {
    width: 0.5em;
}

/*Search Bar*/

.search-container {
    width: 20em;
}

.search-container button {
    width: 20%;
    height: 100%;
    float: left;
    background-color: transparent;
    border: 0;
}

.search-container button:hover {
    background-color: #86b300;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#searchForm {
    height: 100%;
}

#searchForm .input-search {
    width: 70%;
    height: 100%;
    float: left;
    margin-bottom: 0;
    border: 0;
    padding-left: 5%;
    padding-right: 5%;
}

#searchForm .input-search:hover {
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

#searchForm .input-search:focus {
    background-color: #86b300;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

/* Help Page */

#contentsButton {
    width: 20%;
    height: 3em;
    padding-top: 0.4em;
    vertical-align: middle;
    text-align: center;
}

#contentsDropdown li a {
    color: #0000EE;
}

.help-header {
    color: #039be5;
}

/*Footer*/

.footer-social li {
    display: inline;
    padding-left: 0.5em;
    vertical-align: middle;
}

.footer-social li a i {
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5em;
}

.footer-social li a i:hover {
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.footer-copyright .container {
    max-height: 3.25em;
}

/*Miscellaneous*/

#noEditForm {
    color: #000;
}

#toggleImportantButton {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.collapsible-contained {
    width: 80%;
}

#collapsible-row {
    width: 100%;
    margin-bottom: 0;
}

.collapsible-btn {
    margin-right: 0.3em;
}

.width100 {
    width: 100%;
}

.justify {
    text-align: justify;
}

bold {
    font-weight: bold;
}

/*Media*/

@media (max-width: 640px) {
    main, footer {
        position: relative;
        top: 1.5em;
    }
    #StoryBoardFooter {
        padding-top: -1.5em;
    }
    #StoryBoardFooter .footer-copyright {
        padding: 0;
    }
    .brand-logo {
        /* use of !important to cancel out auto-centering in materialize */
        left: 7% !important;
    }
    .search-container {
        width: 100%;
    }
    .side-nav {
        height: 120vh;
        display: block;
    }
    .no-mobile {
        display: none;
    }
    .container {
    /* use of important to improve UX on all devices */
    width: 85% !important;
    }
    .collapsible-button {
        margin-right: 0.5em;
    }
    #collapsible-button-container a {
        padding: 0.4em;
        vertical-align: middle;
    }
    #collapsible-button-container a span {
        position: relative;
        top: -0.1em;
    }
    #collapsible-row {
        padding-left: 0.4em;
        padding-right: 0.4em;
    }
    #collapsible-row div {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 640px) and (max-width: 960px) {
    .no-tablet {
        display: none;
    }
    .brand-logo {
        /* use of !important to cancel out auto-centering in materialize */
        left: 5% !important;
    }
}

@media (min-width: 641px) {
    .mobile-only {
        display: none;
    }
}
