body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.base-container {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.container {
    /* use of important to improve UX on all devices */
    width: 90% !important;
}

.head-logo {
    margin-left: 0.5em;
}

.logo {
    width: 2em;
    height: 2em;
}

.fullwidthimage {
    width: 100%;
}

.link-fade-blue:hover {
    color: #7733ff;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.link-fade-white:hover {
    color: #73e600;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.white-link {
    text-decoration: none;
    color: #fff;
}

#StoryBoardNav {
    background-color: #008000;
}

#StoryBoardFooter {
    background-color: #008000;
}

.navul {
    height: 100%;
}

.navul li {
    height: 100%;
}

.nav-wrapper {}

navbr {
    width: 0.5em;
}

.search-container {
    width: 20em;
}

.search-container button {
    width: 20%;
    height:100%;
    float: left;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #739900;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

#searchForm {
    height: 100%;
}

#searchForm .input-search {
    width: 70%;
    height: 100%;
    float: left;
    margin-bottom: 0;
    border: 0;
    padding-left: 5%;
    padding-right: 5%;
}

#searchForm .input-search:hover {
    background-color: #86b300;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

#searchForm .input-search:focus {
    background-color: #86b300;
}

.dropdown-content li>option {
    font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.img-container-center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footer-social li {
    display: inline;
    padding-left: 0.5em;
    vertical-align: middle;
}

.footer-social li a i {
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5em;
}

.footer-social li a i:hover {
    background: #800000;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.footer-copyright .container {
    max-height: 3.25em;
}

@media (max-width: 992px) {
    .brand-logo {
        /* use of !important to cancel out auto-centering in materialize */
        left: 7% !important;
    }
    .no-mobile {
        display: none;
    }
}
