<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Story Database">
    <meta name="keywords" content="Story,Database,Manager">
    <meta name="author" content="Felix Redwood">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/favicon.png')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav id="StoryBoardNav">
                <div class="nav-wrapper">
                    <a href="{{ url_for('nav_home') }}" class="brand-logo head-logo" id="navLogo"><img class="logo" src="{{url_for('static', filename='images/logo.png')}}" alt="StoryBoard logo"><logotext class="no-mobile">Home</logotext></a>
                    <ul class="right navul">
                        <li class="no-mobile"><a href="/nav_elements">Elements</a></li>
                        <li class="no-mobile"><a href="/nav_categories">Categories</a></li>
                        <li class="no-mobile"><a href="/nav_subcategories">Subcategories</a></li>
                        <li class="search-container">
                            <form id="searchForm" action="{{url_for('search_results')}}" method="POST">
                                <input class="input-search" type="text" placeholder="Search.." name="search_inquiry" id="search_inquiry" required>
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="tabs-container row mobile-only">
                    <div class="col s12">
                        <ul class="tabs" id="navTabs">
                            <li class="tab col s3"><a target="_self" href="/nav_elements">Elements</a></li>
                            <li class="tab col s3"><a target="_self" href="/nav_categories">Subcategories</a></li>
                            <li class="tab col s3"><a target="_self" href="/nav_subcategories">Categories</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main>
            {% block homepage %} {% endblock %}
            <!--There is a line break here for mobile devices, as the tabs will increase the size of the navbar.
            The line break is to push the content down and ensure that there is no overlapping-->
            <br class="mobile-only">
        <div class="container base-container">
            {% block content %} {% endblock %}
        </div>
    </main>
    <footer class="page-footer" id="StoryBoardFooter">
        <div class="container">
            <div class="row">
                <div class="col l6 m6 no-mobile">
                    <h5 class="white-text">About StoryBoard:</h5>
                    <p class="grey-text text-lighten-4">StoryBoard is a simple application, designed to help artists keep track of their stories.</p>
                </div>
                <div class="col l3 m3 s6">
                    <h5 class="white-text"><a class="link-fade-white white-link" href="/nav_help" target="_blank">Help Page:</a></h5>
                    <p>Go to our <a class="link-fade-white white-link" href="/nav_help" target="_blank">Help Page</a>.</p>
                </div>
                <div class="col l3 m3 s6">
                    <h5 class="white-text">Contact:</h5>
                    <p>You can contact us <span class="no-mobile">at <a class="link-fade-white white-link" href="mailto:#" target="_blank">StoryBoard@gmail.com</a></span><span class="mobile-only"><a class="link-fade-white blue-link" href="" target="_blank"><bold>here</bold></a>.</span></p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6">
                        <p>&copy; 2020 StoryBoard.inc</p>
                    </div>
                    <div class="col m6 no-mobile">
                        <ul class="right footer-social">
                            <li>Social Links:</li>
                            <!--The links do not show up on mobile devices, as they would be too small to click. They do show up on
                            desktops, as well as on tablets, where they would be easier to click-->
                            <!--The target is "_blank", because the user will want the link to open in a new window-->
                            <li><a class="grey-text text-lighten-3" href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                            <li><a class="grey-text text-lighten-3" href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a class="grey-text text-lighten-3" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/904876a056.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $(".button-collapse").sideNav({ edge: 'right' });
            $('select').material_select();
            $('ul.tabs').tabs();
            $("#toggleimportant").on("change", "input:checkbox", function() {
             $("#toggleimportant").submit();
            });
        });
    </script>
</body>

</html>
