<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Story Database">
    <meta name="keywords" content="Story,Database,Manager">
    <meta name="author" content="Felix Redwood">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/favicon.png')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <div class="navbar-fixed">
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#!">Home</a></li>
                <li><a href="#!">Elements</a></li>
                <li class="divider"></li>
                <li>
                    <option disabled selected>Categories:</option>
                </li>
                <li><a href="#!">three</a></li>
            </ul>
            <nav id="StoryBoardNav">
                <div class="nav-wrapper">
                    <a href="{{ url_for('nav_home') }}" class="brand-logo head-logo"><img class="logo" src="{{url_for('static', filename='images/logo.png')}}" alt="StoryBoard logo"></a>
                    <ul class="right hide-on-med-and-down navul">
                        <li class="search-container">
                            <form id="searchForm" action="">
                                <input class="input-search" type="text" placeholder="Search.." name="search" required>
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </li>
                        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container base-container">
            {% block content %} {% endblock %}
        </div>
    </main>
    <footer class="page-footer" id="StoryBoardFooter">
        <div class="container">
            <div class="row">
                <div class="col l8 s12">
                    <h5 class="white-text">About StoryBoard</h5>
                    <p class="grey-text text-lighten-4">StoryBoard is a simple application, designed to help artists keep track of their stories.</p>
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">Contact:</h5>
                    <p>You can contact us at <a class="link-fade-white white-link" href="mailto:#" target="_blank">StoryBoard@gmail.com</a></p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col s6">
                        <p>&copy; 2020 StoryBoard.inc</p>
                    </div>
                    <div class="col s6">
                        <ul class="right footer-social">
                            <li>Social Links:</li>
                            <li><a class="grey-text text-lighten-3" href="#!" target="_blank"><i class="fab fa-facebook"></i></a></li>
                            <li><a class="grey-text text-lighten-3" href="#!" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a class="grey-text text-lighten-3" href="#!" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/904876a056.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $(".button-collapse").sideNav({ edge: 'right' });
            $('.dropdown-button').dropdown({
                constrainWidth: true,
                hover: false,
                belowOrigin: true
            });
            $("#toggleimportant").on("change", "input:checkbox", function() {
                $("#toggleimportant").submit();
            });
        });
    </script>
</body>

</html>
