{% extends 'base.html' %} {% block title %}Your Elements{% endblock title %} {% block content %}

<div class="row">

    <h2>Your Story Elements:</h2>
    <br>
    <p class="justify">
        Elements are specific parts of your story, such as a specific character or place.
    </p>
    <p class="justify">
        Confused? Go to our <a class="link-fade-blue" href="/nav_help" target="_blank">Help Page</a>.
    </p>
    <br>
    {% block important %} {% endblock important %}

</div>

<ul class="collapsible" data-collapsible="expandable">
    {% for element in elements %}
    <li>
        <div class="collapsible-header">
            <div class="row" id="collapsible-row">

                <div class="col s4 m6">
                    <strong><span class="no-mobile">{{element.category_name.capitalize()}}: </span>{{element.element_name.capitalize()}}</strong><i class="material-icons">expand_more</i>
                </div>
                <div class="col s8 m6" id="collapsible-button-container">
                    <a href="{{url_for('edit_element', element_id=element._id)}}" class="waves-effect waves-light btn btn-small right collapsible-btn"><span>EDIT</span></a>
                    <a href="{{url_for('delete_element', element_id=element._id)}}" onclick="return confirm('Once you delete this item, it cannot be recovered)" class="waves-effect waves-light btn btn-small right collapsible-btn"><span class="no-mobile">DELETE</span><span class="mobile-only">DEL</span></a>
                </div>
            </div>
        </div>

        <div class="collapsible-body">
            <form action="" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">library_books</i>
                        <select id="category">
                <option value="" disabled selected>{{element.category_name.capitalize()}}</option>
                </select>
                        <label>Category Name:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {% if element.subcategory %}
                        <i class="material-icons prefix">subdirectory_arrow_right</i>
                        <select id="category">
                <option value="" disabled selected>{{element.subcategory.capitalize()}}</option>
                </select>
                        <label>Subcategory:</label>
                        {% else %}
                        <i class="material-icons prefix">subdirectory_arrow_right</i>
                        <select id="category">
                <option value="" disabled selected>None</option>
                </select>
                        <label>Subcategory:</label>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">short_text</i>
                        <input id="noEditForm" type="text" class="validate" value="{{element.element_name}}" disabled>
                        <label for="icon_prefix">Name:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">vignette</i>
                        <textarea id="noEditForm" type="text" class="materialize-textarea" disabled>{{element.element_vignette}}</textarea>
                        <label for="icon_telephone">Vignette:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">view_headline</i>
                        <textarea id="noEditForm" type="text" class="materialize-textarea" disabled>{{element.element_description}}</textarea>
                        <label for="icon_telephone">Description:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">event_note</i>
                        <textarea id="noEditForm" type="text" class="materialize-textarea" disabled>{{element.events}}</textarea>
                        <label for="icon_telephone">Events:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">add</i>
                        <textarea id="noEditForm" type="text" class="materialize-textarea" disabled>{{element.misc}}</textarea>
                        <label for="icon_telephone">Misc:</label>
                    </div>
                </div>
            </form>
            <div class="row no-mobile">
                <form action="{{url_for('toggle_element_important_elements', element_id=element._id)}}" method="POST">
                    <div class="switch">
                        <label>
      Important:
      <input type="checkbox" {% if element.important == True %}checked{% endif %}>
      <span class="lever"></span>
    </label>
                    </div>
                    <br>
                    <button id="toggleImportantButton" class="btn waves-effect waves-light btn-flat" type="submit" name="action">TOGGLE
    <i class="material-icons right">send</i>
  </button>
                </form>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<div class="row">
    <div class="col s10 m4">
        <a href="{{ url_for('add_element') }}" class="waves-effect waves-light btn width100">New Element</a>
    </div>
</div>

{% endblock content %}
