{% extends 'base.html' %} {% block title %}Help Page{% endblock %}

{% block content %}

<div class="row">

    <h2>Help Page</h2>

</div>

<br>

<div class="row">
    
    <h5><a name="create">Creating a new Piece of Information:</a></h5>
    <hr>
    <p class="justify">
        
    </p>
    
</div>

<br>

<div class="row">
    
    <h5><a name="read">Viewing a Piece of Information:</a></h5>
    <hr>
    <p class="justify">
        
    </p>
    
</div>

<br>

<div class="row">
    
    <h5><a name="update">Editing a Piece of Information:</a></h5>
    <hr>
    <p class="justify">
        
    </p>
    
</div>

<br>

<div class="row">
    
    <h5><a name="delete">Deleting a Piece of Information:</a></h5>
    <hr>
    <p class="justify">
        
    </p>
    
</div>

<br>

<div class="row">
    
    <h5><a name="toggle">Toggling an Element's 'Important' Status:</a></h5>
    <hr>
    <p class="justify">
        
    </p>
    
</div>

{% endblock %}