{% extends 'base.html' %} {% block title %}StoryBoard Homepage{% endblock title %} {% block content %}

<div class="row">

    <h2>StoryBoard</h2>
    <p class="justify">StoryBoard is a simple program, designed to help YOU, the writer, to keep track of your story. Used by filmmakers, writers and tabletop gamers alike, StoryBoard is the #1 program to keep track of your project.</p>
    <p class="justify">Follow us on <a class="link-fade-blue" href="#">Facebook</a>, <a class="link-fade-blue" href="#">Twitter</a> and
        <a class="link-fade-blue" href="#">Instagram</a> to recieve updates, participate in community activities and win prizes!</p>

</div>

<div class="row">

    <h3>Your Story Elements:</h3>
    {% block important %}{% endblock important %}
</div>

<ul class="collapsible" data-collapsible="accordion">
    {% for element in elements %}
    <li>
        <div class="collapsible-header">
            <div class="row" id="collapsible-row">

                <div class="col s4 m6">
                    <strong>{{element.category_name.capitalize()}}: {{element.element_name.capitalize()}}</strong><i class="material-icons">expand_more</i>
                </div>

                <div class="col s8 m6" id="collapsible-button-container">
                    <a href="{{url_for('edit_element', element_id=element._id)}}" class="waves-effect waves-light btn btn-small right collapsible-btn"><span>EDIT</span></a>
                    <a href="{{url_for('delete_element', element_id=element._id)}}" onclick="return confirm('Once you delete this item, it cannot be recovered)" class="waves-effect waves-light btn btn-small right collapsible-btn"><span class="no-mobile">DELETE</span><span class="mobile-only">DEL</span></a>
                </div>
            </div>
        </div>

        <div class="collapsible-body">
            <form action="" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">vignette</i>
                        <textarea id="noEditForm" type="text" class="materialize-textarea" disabled>{{element.element_vignette}}</textarea>
                        <label for="icon_telephone">Vignette:</label>
                    </div>
                </div>
            </form>
            <small></small>
            <div class="row no-mobile">
                <form action="{{url_for('toggle_element_important_home', element_id=element._id)}}" method="POST">
                    <div class="switch">
                        <label>
      Important:
      <input type="checkbox" {% if element.important == True %}checked{% endif %}>
      <span class="lever"></span>
    </label>
                    </div>
                    <br>
                    <button id="toggleImportantButton" class="btn waves-effect waves-light btn-flat" type="submit" name="action">TOGGLE
    <i class="material-icons right">send</i>
  </button>
                </form>
            </div>
        </div>
    </li>
    {% else %}
    <li>
        <h6>Oops! You have no story elements. Create some <a class="link-fade-blue" href="/nav_elements" target="_self">Here</a>.</h6>
    </li>
    {% endfor %}
</ul>
<small>This page will only show 10 of your story elements. To see them all, go to your <a class="link-fade-blue" href="/nav_elements">story elements</a> page</small>
<br>
<br> {% endblock content %}
