{% extends 'base.html' %} {% block title %}StoryBoard Homepage{% endblock %} {% block content %}

<div class="row">

    <h2>StoryBoard</h2>
    <p>StoryBoard Information</p>

</div>

<div class="row">

    <h3>Your Story Elements</h3>
    <p>Toggle Important:</p>

</div>
<ul class="collapsible" data-collapsible="accordion">
    {% for element in elements %}
    <li>
        <div class="collapsible-header">
            <div class="col s9 task_header">
                <strong>{{element.category_name}}: {{element.element_name}}</strong>
            </div>

            <div class="col s3">
                <i class="material-icons">expand_more</i>
                <a href="{{url_for('', element_id=element._id)}}" class="waves-effect waves-light btn btn-small ">View</a>
                <a href="{{url_for('', element_id=element._id)}}" class="waves-effect waves-light btn btn-small ">Delete</a>
            </div>
        </div>

        <div class="collapsible-body">
            <span>
          {{element.element_vignette}}
          </span>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}
