{% extends 'base.html' %} {% block title %}StoryBoard Homepage{% endblock %} {% block content %}

<div class="row">

    <h2>StoryBoard</h2>
    <p>StoryBoard Information</p>

</div>

<div class="row">

    <h3>Your Story Elements</h3>
    <div class="valign-wrapper">
        <form action="#">
            <div class="switch">
                <label>
      Toggle Important:
      <input type="checkbox">
      <span class="lever"></span>
    </label>
            </div>
        </form>
    </div>

</div>
<ul class="collapsible" data-collapsible="accordion">
    {% for element in elements %}
    <li>
        <div class="collapsible-header">
            <div class="col s9 task_header">
                <strong>{{element.category_name.capitalize()}}: {{element.element_name.capitalize()}}</strong>
            </div>

            <div class="col s3">
                <i class="material-icons">expand_more</i>
            </div>
        </div>

        <div class="collapsible-body">
            <span class="truncate">
          {{element.element_vignette}}
          </span>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}
